*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.alert {
  position: fixed;
  z-index: 99;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  max-width: 300px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  animation: slide-in 1s ease-in-out forwards;
}

.alert-icon {
  width: 20px;
  height: 20px;
}

.alert-msg {
  display: flex;
  align-items: center;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
